@import '../../../../theme/variables.scss';

:host{
  width: 100%;

  .set-card-wrapper {
    ion-item{
      --min-height: 90px;
      --border-color: #DFE3FF !important;

      ion-label{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 2%;
        align-content: center;
      }

    }
  }
}
