// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

// ********** START ON-COMPONENTS

// FONT
*{
  // font-family: 'Source Sans Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif
}

$textColor: #FFFFFF;
$textSecondColor: #EBEBEB;
$errorColor: red;
$backColor: #F7F7F7;
$secondBackColor: #0E0E10;
$backSecondColor: #BA195E;
$backThirdColor: #5C88CF;
$backfourthColor: #2A3C58;


ion-fab-button{
  --background: #BA195E;
  border-radius: 50%;
}

ion-content{
  --background: #0E0E10 !important;
}

ion-list {
  background: #FFFFFF !important;
  width:100%;

  ion-item{
    touch-action: pan-y !important;
    width:100%;
    padding: 4px;
    --background: #FFFFFF !important;
    color: $secondBackColor;

    ion-img{
      width: 15%;
    }

    ion-label{
      margin-left: 10%;
      height:50px;
    }

  }
}

ion-menu{
  //contenido del menu lateral
  ion-content{
    background: $backColor !important;
  }

  //contenido dentro de cada lista del menu lateral
  ion-item{
    --background: $backColor !important;
  }
}


// PAGE COLOR
.text-color{
  color: $textColor;
}

.text-second-color{
  color: $secondBackColor;
}

.text-color-third{
  color: $textSecondColor;
}

.text-color-four{
  color: $backSecondColor;
}

.text-color-five{
  color: $backfourthColor;
}

// PAGE BACKGROUND COLOR

.components-color{
  background: $textColor;
}

.components-color-second{
  background: $secondBackColor;
}

.components-color-third{
  background: $backSecondColor;
}


ion-infinite-scroll-content{
  ion-spinner{
    margin-top: 0;
  }
}

// REFRES ITEM
ion-refresher {

  ion-spinner{
    position: relative;
    display: flex;
    // background: $textColor;
    margin: 0;
  }
}

// SPINNER
ion-spinner {
  display: block;
  position: absolute;
  color: $backSecondColor;
  margin: 0 auto;
  margin-top: 90%;
  margin-left: 48%;
}

//HEADER PRINCIPAL
ion-header{
  background: $secondBackColor;
  overflow: hidden;
  height: 50px;

  ion-toolbar{
    width: 100%;
    --background: $secondBackColor;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;

    ion-title{
      width: 85%;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: start;
      font-weight: 800;
      // font-size: 22px;
    }

    ion-icon{
      font-size: 20px;
      padding-right: 10px;
    }

    div{
      width: 20%;
    }
  }
}

.action-sheet-group{
  background: white !important;

  button{
    color: #141415 !important;
  }
}

// ion-select-option{
//   background: white;
// }

ion-footer, ion-toolbar{
  height:50px;
  --background: $backSecondColor !important;
}

//footer barra abajo
ion-tab-bar{
  background: $backColor;
  // background: $backSecondColor;
}

//buscador
ion-searchbar{
  --box-shadow: none !important;
  --border-radius: 50px !important;
  transform: scaleY(0.8);

  .searchbar-input-container {
    input{
      background: #C5C5C5 !important;
      color: $secondBackColor !important;
      // color: $backColor !important;
    }
  }
}

ion-card{
  touch-action: pan-y !important;
  width: 23%;
  min-height: 15vh;
  background: none;
  color: $secondBackColor !important;
  box-shadow: none !important;

  img{
    width: 100%;
  }

  //titulo de la card
  ion-card-title{
    color: $secondBackColor !important;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  //contenido de la card
  ion-card-content{
    font-size: 13px;
    // text-align: center;
  }

  h3, h4{
    font-weight: bold;
  }

  ion-avatar {
    img{
      font-size: 15px;
      width: 100%;
      border-radius: 50%;
    }
  }

  ion-icon {
    font-size: 25px;
  }
}

ion-button{
  --border-radius: 50px !important;
  --box-shadow: none !important;
  --background: #BA195E;

  ion-icon{
    font-weight: bold;
    font-size: 23px;
  }
}

ion-item{
  width: 94%;
  margin: 0 auto;
  // padding:0px !important;
  --background: #fff;

}

form{
  width: 80%;
}

ion-avatar{
  box-shadow: 0;
  width:3.2em;
  height:3em;

  img{
    width:100%;
    height:100%;
  }
}

.container-top-radius{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -25px;
}

.ion-overlay-wrapper{
  background: none !important;
}

//efecto riple para las redirecciones como los botones
.ripple-parent {
  position: relative;
  overflow: hidden;
}
// ********** END ION-COMPONENTS


// ********** START APP CONFIG
.text-center{
  text-align: center;
}

// CAPITAL LETTER
.capital-letter{
  text-transform: capitalize;
}

.span-bold{
  font-weight: bold;
}

.div-error{
  width: 90%;
  color: $errorColor;
}

.div-empty{
  width:15%;
  height:auto;
}

.padding-5{
  padding: 5px;
}

.padding-top-10{
  padding-top: 10px;
}

.height-30{
  min-height: 30px;
}

.width-max{
  width: 100%;
}

.width-90{
  width: 90% !important;
}

.width-84{
  width: 84%;
}

.width-70{
  width: 70%;
}

.width-40{
  width: 40%;
}

.width-12{
  width: 13%;
}

.width-half{
  width: 40%;
}

.max-size{
  font-size: 30px !important;
}

.big-size{
  font-size: 23px !important;
}

.big-size-medium{
  font-size: 18px !important;
}

.mediun-size{
  font-size: 15px !important;
}

.font-medium{
  font-size: 11px !important;
}

.font-size-9{
  font-size: 9px !important;
}

.font-small{
  font-size: 7px !important;
}

.margin-bottom-5{
  margin-bottom: 5px
}

.margin-top{
  margin-top: 20px !important;
}

.margin-top-10{
  margin-top: 10px !important;
}

.margin-top-25{
  margin-top: 25px;
}

.margin-top-30{
  margin-top: 30px !important;
}

.margin-left-5{
  margin-left: 5%;
}

.ion-margin-start{
  width:50%;
  background:none;
}

.margin-center{
  margin: 0 auto;
}

.height-100{
  min-height: 48%;
}

.height-60{
  min-height: 60px;
}

.toast-wrapper{
  color: $textColor !important;
}

.chip{
  border-radius: 10px;
  margin-top: 5px !important;
  min-height: 20px !important;
}

.displays-between{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.displays-around{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.displays-start{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.displays-center{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.displays-center-down{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.div-center{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

h1, h2 {
  margin-top: 10px;
  min-width: 35%;
}

h1{
  width: 88%;
  margin: 0 auto;
  text-align: start;
  font-size: 30px;
  font-weight: 800;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h2{
  font-size: 20px;
  margin-left: 3%;
  font-weight: 600;
}

.border-around{
  border-radius: 50%;
}

// ********** END APP CONFIG
.div-header-fixed{
  width: 100%;
  z-index: 1;
  position: fixed;
  background: $textColor;
}

.item-select{
  width: 90%;
  height: 40px;
  margin: auto;
  border-radius: 20px;
  margin-top: 25px;
  color: #808080 !important;
}

.heigth-mid{
  height: 30vh !important;
}

//PAGE CONTAINER
.header{
  width: 100%;
  min-height: 50px !important;
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
  --border-style: none;
  background: none;

  h1, h2{
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 5%;
  }

  span{
    margin-right: 5%;
  }

  ion-back-button{
    width: 10%;
  }

  form{
    width: 90%;
    margin: auto;
    ion-item{
      color: $textColor !important;
    }
  }
}

.empty-header{
  width: 100%;
  height: 150px;
}

.empty-header-mid{
  width: 100%;
  height: 250px;
}

.empty-div{
  width: 100%;
  height: 30px;
}

.empty-div-50{
  width: 100%;
  height: 50px;
}

.header-container-empty{
  width: 10%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  ion-icon{
    font-size: 27px;
    color: $backColor;
  }
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  // margin-top: -25px;
}

.right{
  justify-self: flex-end !important;
  margin-left: auto;
  background: $backThirdColor !important
}

.monster{
  background: #EBCFC1;
}

.magic{
  background: #B3E5C5;
}

.trap{
  background: #EBBCCF;
}

.banlist-div{
  z-index: 2px;
  margin-top: -74px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  >div{
    width: 70%;
  }

  img{
    width: 25%;
  }
}

.forbidden{
  color: red;
}

.limited{
  color: orange;
}

.semi-limited{
  color: yellow;
}

// MODAL
.my-custom-modal-css {
  --backdrop-opacity: 1;
  backdrop-filter: blur(1px);

  &::part(backdrop) {
      background: #000;
  }

  &::part(handle) {
      // background: var(--ion-color-primary);
      // background: #65629B;
      width: 150px;
      height: 6px;
  }

  &::part(content) {
      border-radius: 20px; // Here the border radius
      box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 32%);
  }
}
// END MODAL

.loadingspinner{
  stroke: #ef473a;
  fill: #ef473a;
}
.fade-in-card {
  animation: fadeInUp 0.2s;
}

.hide{
  display: none;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeInUp {
  0% {transform:translateY(60px) scale(0.5,0.5);}
  100% {transform:translateY(0px) scale(1,1);}
}
