@import '../../../../theme/variables.scss';

ion-button{
  --border-radius: 5px !important;
  --background: none;
  color: $backSecondColor;
  width: 15%;
}

form {
  width: 94% !important;
  margin: 0 auto;
}

ion-segment-button{
  --color-checked: #BA195E;
}

ygopro-card-component {
  width: 49%;
}
