@import '../../../theme/variables';



ion-list{
  margin-top: 20px;

  ion-item {
    --min-height:  90px;

    ion-label{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: flex-start;
      align-items: center;
      margin-left: 2%;
      align-content: center;
    }

  }

  .label-name {
    width: 50% !important;
  }

  .label-banlist{
    justify-content: center;
    max-width: 32% !important;
  }

  .label-image {
    max-width: 10% !important;
  }

  .forbidden{
    background: red !important;
    color: black;
  }

  .limited{
    background: orange !important;
    color: black;
  }

  .semi-limited{
    background: yellow !important;
    color: black;
  }


}

