
@import '../../../../theme/variables';

:host{
  width: 100%;

  .line-card {
    width: 93%;
    min-height: 95px;
    background: #FFFFFF;
    padding: 5px;
    margin: 10px;
    // box-shadow: 2px 2px 2px gray;
    box-shadow: 1px 5px 5px #65629B !important;

    .line-card-image{
      width: 18%;

      img, ion-img{
        min-height: 65px !important;
        border-radius: 15%;
      }
    }
  }

}
