@import '../../../../theme/variables';

// :host{
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
//   background: none !important;
// }

ion-button{
  --background: #3C396E !important;
  --color: #FFFFFF !important;
}

// .modal-container{
//   height: 100%;
// }

ion-item{
  margin-top: 10px;
  --background: #FFFFFF !important;
  color: $secondBackColor;
}
