@import '../../../../theme/variables';

ion-button{
  --background: #6463EB !important;
  --color: #F7F7F7 !important;
}

:host{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: none;
}


// .modal-container{
//   height: 100%;
// }

ion-item{
  margin-top: 10px;
  --background: #C7C5FE !important;
  color: $secondBackColor;
}
