@import '../../../theme/variables';

.card-card {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .forbidden{
    background: red;
  }

  .limited{
    background: orange;
  }

  .semi-limited{
    background: yellow;
  }



  >div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 90%;
  }
}
